
/*background color and top text*/
body {
    color:black;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgrey;
    width: 100%;
    margin: 0;
    float: left;
    overflow-x: hidden;
  }

  /*Welcome*/
header {
  background-color: rgb(138, 255, 245, 0.5);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
  width: 100%;
  text-align:left;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.993);
}

/*left side background color*/
nav {
  float: left;
  width: 19%;
  height: 300px;
  background-color: rgba(5, 106, 124, 0.7);
  padding: 20px 0px;
}


/*tabs*/
nav ul {
  font-size: 22px;
}

.home {
  position: relative;
  display: inline-flex;
  padding: 10px 60px;
  background: white;
  color: rgb(23, 114, 147);
  text-decoration: none;
  letter-spacing: 2px;
}

a.active, a:hover{
  background: rgb(200, 200, 200);
  transition: 1s;
}



.about-me {
  position: relative;
  display: inline-flex;
  padding: 10px 35px;
  background: white;
  color: rgb(23, 114, 147);
  text-decoration: none;
  letter-spacing: 1px;
}

.proj {
  position: relative;
  display: inline-flex;
  padding: 10px 32px;
  background: white;
  color: rgb(23, 114, 147);
  text-decoration: none;
  letter-spacing: 2px;
}

.resume {
  position: relative;
  display: inline-flex;
  padding: 10px 48px;
  background: white;
  color: rgb(23, 114, 147);
  text-decoration: none;
  letter-spacing: 2px;
}


/*middle section and "Home" page*/
article {
  float:inline-start;
  padding: 20px;
  width: 1000%;
  height: 300px;
  background-color: rgb(255, 255, 255);
}

article p {
  font-size: 20px;
  text-indent: 10px;
}


.img-me {
  width: 150px;
  height: 280px;
  position: relative;
  left: 950px;
  bottom: 220px;
 
  
}

.quote {
  width: 150px;
  height: 280px;
  position: relative;
  left: 620px;
  bottom: 220px;
}

/*socials*/
footer {
  background-color: rgb(138, 255, 245, 0.5);
  padding: 15px;
  text-align: center;
  color: black;
  font-size: 30px;
}

.instagram {
  color: rgb(23, 114, 147);
}

.linkedin {
  color: rgb(23, 114, 147);
}


.email {
  color: rgb(23, 114, 147);
}

/*About page*/

.london {
  width: 200px;
  height: 280px;
  position: relative;
  left: 400px;
}

.bucky-p {
  width: 250px;
  height: 170px;
  position: relative;
  left: 700px;
  bottom: 695px;
}

.vegas {
  width: 200px;
  height: 280px;
  position: relative;
  left: 600px;
  bottom: 380px;
}

.lucy {
  width: 300px;
  height: 150px;
  position: relative;
  right: 200px;
  bottom: 700px;
}

.millie {
  width: 200px;
  height: 350px;
  position: relative;
  left: 60px;
  top: 100px;
}

.six {
  width: 200px;
  height: 300px;
  position: relative;
  left: 50px;
  bottom: 200px;
}

.ham {
  width: 200px;
  height: 300px;
  position: relative;
  left: 500px;
  bottom: 200px;
}


